.header {
    font-size: 20px;
    font-weight: 300;
    color: #636363;
    margin-bottom: 40px;
}
.inputBlock {
    display: grid;
    grid-template-rows: 1fr 54px;
    flex-direction: column;
    margin-right: 20px;
    color: #9b9b9b;
}
.combobox{
    outline: none;
    border: 2px solid #f1f2f3;
    padding: 10px;
    font-size: 15px;
    background: #fbfbfb;
    width: 530px;
}
.inputHeader {
    margin-bottom: 10px;
}
.inputsContainer {
    display: flex;
    margin-bottom: 20px;
}

.submitContainer{
    display: flex;
}
.submitContainer input[type="submit"] {
    display: inline-block;
    padding: 16px 24px;
    border-radius: 5px;
    outline: 0;
    border: none;
    color: white;
    background: #5795fd;
    margin: 0 0 0 auto;
    cursor: pointer;
}
.addNote button{
    color:#5795fd;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
.addNote span {
    margin-left: 10px;
}

